In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

[炎龍程式碼](https://nbviewer.jupyter.org/github/yenlung/)

In [9]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [28]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [33]:
list(x**2 for x in range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# For 迴圈

In [18]:
x=list()
for i in range(1,6):
    x.append(i)

In [19]:
x

[1, 2, 3, 4, 5]

In [21]:
s=0
for i in range(1,101):
    s=s+i
print(s)

5050

In [37]:
# list append

In [4]:
prices=[1024,399,2000]

In [3]:
c=34.1415677

In [43]:
list(np.array(prices)*c)

[34960.9653248, 13622.485512300002, 68283.1354]

In [46]:
x=list()
for p in prices:
    x.append(p*c)
x

[34960.9653248, 13622.485512300002, 68283.1354]

# 字串分割

In [53]:
spam=input('輸入你想買的物品的價格')

輸入你想買的物品的價格1024,399,20000,600

[34960.9653248, 13622.485512300002, 682831.354, 20484.94062]

In [48]:
spam

'1024,399,20000,600'

In [50]:
spam.split(",")

['1024', '399', '20000', '600']

In [6]:
spam=input('輸入你想買的物品的價格')
k=spam.split(",")
kk=list()
for i in k:
    k1=float(i)
    kk.append(round(k1*c,2))
kk

輸入你想買的物品的價格21,424,12

[716.97, 14476.02, 409.7]

In [62]:
round(k1*c,2)

1911.93

In [7]:
spam="399 31 3452 62"

In [9]:
spam.split(" ")

['399', '31', '3452', '62']

In [11]:
spam="  399  199 1924 9231"

In [12]:
spam.split(" ")

['', '', '399', '', '199', '1924', '9231']

In [13]:
spam.split()

['399', '199', '1924', '9231']

In [16]:
def exchange(p):
    p=float(p)
    return p*c

In [18]:
exchange("399")

13622.485512300002

### map
#### map(f,L)
把f這函數作用到L list的每一個元素

In [31]:
L='333   12  9.2    689   34'.split()

In [32]:
L

['333', '12', '9.2', '689', '34']

In [33]:
list(map(exchange,L))

[11369.142044100001,
 409.69881240000007,
 314.10242284000003,
 23523.5401453,
 1160.8133018]

### 緊急用的函數 lambda

In [34]:
def f(x):
    return x**2

In [35]:
f(2)

4

In [36]:
g=lambda x:x**2

In [37]:
g(3)

9

In [38]:
L

['333', '12', '9.2', '689', '34']

In [39]:
list(map(lambda p:float(p)*c,L))

[11369.142044100001,
 409.69881240000007,
 314.10242284000003,
 23523.5401453,
 1160.8133018]

In [40]:
egg=[9,4,8,7]

In [41]:
list(map(lambda m:float(m)*2+1,egg))

[19.0, 9.0, 17.0, 15.0]

In [42]:
grades=[47,56,60,75]

In [45]:
list(map(lambda g:np.sqrt(g)*10,grades))

[68.55654600401044, 74.83314773547883, 77.45966692414834, 86.60254037844388]

### list comprehension

In [47]:
L

['333', '12', '9.2', '689', '34']

In [48]:
[float(p)*c for p in L]

[11369.142044100001,
 409.69881240000007,
 314.10242284000003,
 23523.5401453,
 1160.8133018]

# 合併list

In [49]:
L

['333', '12', '9.2', '689', '34']

In [52]:
s=""
for i in L:
    s=s+i+","
s

'333,12,9.2,689,34,'

In [53]:
s.rstrip(",")

'333,12,9.2,689,34'

In [54]:
s[0]

'3'

In [55]:
s[:-1]

'333,12,9.2,689,34'

In [57]:
",".join(L)

'333,12,9.2,689,34'

### 物件中間的 methon

In [59]:
egg=[9.2,689,1450,87,54]

In [60]:
egg.sort()

In [62]:
egg

[9.2, 54, 87, 689, 1450]

In [63]:
ham="今天天氣真好"

In [64]:
ham[3]

'氣'

In [65]:
ham[::2]

'今天真'

In [68]:
ham[::-1]

'好真氣天天今'

In [3]:
from ipywidgets import interact

In [4]:
def move(n=1):
    print(" "*n+"(0_0)")

In [88]:
move()

 (0_0)-_-

In [35]:
interact(move,n=(0,40))

interactive(children=(IntSlider(value=1, description='n', max=40), Output()), _dom_classes=('widget-interact',…

In [34]:
def move(n=1):
    print(" "*(40-n)+"(0_0)"+" "*n+"-_-"+" "*(40-n))

In [21]:
print(" "*n+"(0_0)"+"-_-"+"  "*n)

   (0_0)-_-

In [19]:
n=3