第一題_算閏年：
請定義一個函式，讀進一個年份，輸出是不是閏年。

提示：
目前使用的格里高利曆閏年規則如下：

4的倍數是可能的。
100的倍數是不可能的。
400的倍數是可能的。

In [8]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [37]:
def year():
    y=input("今年西元幾年?     ")
    y=int(y)
    if divmod(y,4)[1] !=0:
        print("這不是閏年")
    elif divmod(y,400)[1] ==0:
        print("這是閏年")
    elif divmod(y,100)[1] ==0:
        print("這不是閏年")
    else:
        print("這是閏年")

In [40]:
year()

今年西元幾年?     2019
這不是閏年

# 第二題_請實作五乘五矩陣的矩陣加法函式：

In [55]:
from numpy.random import rand

In [44]:
def matrix_plus(m1,m2):
    return(m1+m2)

In [62]:
m1=rand(5,5)
m2=rand(5,5)
matrix_plus(m1,m2)

array([[1.23934266, 1.45099798, 0.42500698, 1.56232929, 0.55646551],
       [1.55261555, 0.93375784, 0.49907912, 1.43209661, 1.23471962],
       [0.43943192, 0.51455222, 1.28050326, 1.41134935, 0.99552831],
       [0.86397785, 1.02776547, 1.05471279, 0.64092898, 0.3081447 ],
       [1.21295508, 1.03765417, 1.33466586, 0.52784423, 0.15406211]])

# 第三題_錄取分數表格

In [96]:
k={"土語系": [2, 2, 0, 1, 0, 0, 0, 1, 1, 0],
"財政系": [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0],
"金融系": [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0],
"國貿系": [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0],
"會計系": [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0],
"法律系": [1, 2, 0, 1, 0, 0, 0, 1, 0, 1],
"公行系": [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25],
"應數系": [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0],
"教育系": [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0]
}

In [97]:
sub=["國文","英文", "數甲", "數乙", "物理","化學", "生物", "歷史", "地理", "公民"]
grades= [86.5, 79.4, 88.2, 96.5, 86.3, 76.8, 96.1, 78.5, 82.4, 88.6]

In [99]:
gra=[]
for i in k:
    x=np.dot(k[i],np.array(grades))
    gra.append(x)

In [130]:
df=pd.DataFrame(k,index=k.keys(),columns=sub)

In [131]:
for i in k:
    df.loc[i,]=k[i]

In [139]:
df.loc[:,"加權分數"]=gra

In [141]:
df

      國文   英文   數甲    數乙 物理 化學 生物 歷史 地理    公民     加權分數
土語系    2    2    0     1  0  0  0  1  1     0  589.200
財政系    1  1.5    0   1.5  0  0  0  0  0     0  350.350
金融系    1  1.5    0     2  0  0  0  0  0     0  398.600
國貿系  1.5    2    0     2  0  0  0  0  0     0  481.550
會計系  1.5    2    0     2  0  0  0  1  1     0  642.450
法律系    1    2    0     1  0  0  0  1  0     1  508.900
公行系    1  1.5    0  1.25  0  0  0  0  0  1.25  436.975
應數系    1    1  1.5     0  1  1  0  0  0     0  461.300
教育系  1.5    2    0  1.25  0  0  0  1  1     0  570.075

挑戰題一_Bubble Sort
Geoffrey是個喜歡自動化的老師，某次期中考過後，他想要把學生的成績用電腦自動排序，於是他請Andrew幫忙開發這個高難度的程式…

限制：不可以使用Python內建的sort()

In [240]:
grades=list(np.random.randint(0,101,9))
sg=[]

for i in range(len(grades)):
    for j in range(len(grades)):
        if grades[j]==min(grades):
            sg.append(grades[j])
            grades.remove(grades[j])
            grades.append(101)
        if len(sg)>=9:
            print("已排序")
            break
    if len(sg)>=9:
            break

已排序

In [241]:
sg

[14, 36, 55, 60, 67, 80, 81, 93, 97]